# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
env/
ENV/
venv/

# OS
.DS_Store
Thumbs.db

# Selenium downloads
*.crdownload

# pytest html report
report.html

allure-results/